body {
  background-color: #393e46;
  margin: 0;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  color: #fff;
}

.container {
  width: 70%;
  margin: auto;
  padding-top: 50px;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ecca3;
}

.dice {
  display: inline-block;
  text-align: center;
  padding: 20px;
}

p {
  font-size: 2rem;
  color: #4ecca3;
}

img {
  max-width: 150px;
  width: 100%;
  transition: transform 0.2s ease-in-out;
}

.dice img:hover {
  transform: scale(1.1);
}

button {
  margin-top: 30px;
  padding: 15px 30px;
  font-size: 1.5rem;
  background-color: #4ecca3;
  border: none;
  color: #232931;
  font-family: 'Lobster', cursive;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3cbf96;
}

footer {
  margin-top: 5%;
  color: #eeeeee;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}
